flask
flask-mysqldb
python-dotenv
gunicorn
mysqlclient


# flask: crea aplicaciones web (API REST)
# flask-mysqldb: carga variable de entorno desde un 
# archivo .env
#          .env = environment = variable
#          de entorno 
# flask-cors: permite solicitar cors
# pip install -r requirements.txt